@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Delete";
}


<p>¿Está seguro que desea eliminar esta película?</p>
<button type="button" class="btn btn-success">
    <a asp-action="HandleDelete" asp-route-id="@Model.Id">Si</a>
</button> |
<button type="button" class="btn btn-danger">No</button>
