@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola</h1>
    <p>Este es el proyecto de Pablo Leiva</p>
    <img class="text-center" src="https://i.pinimg.com/originals/1d/a6/aa/1da6aa5358b9ca6e2263cac0074fa0fa.gif" />
</div>